* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: #fb4f14;
    padding: 25px;
    padding-left: 0px;
    justify-content: space-between;
}

nav {
    background-color: #fb4f14;
    margin: 0px;
    padding: 0px;
    padding-left: 0;
    padding-bottom: 0;

}

.name {
    color: #002244;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 50px;
    padding-right: 0;
    padding-bottom: 0;
    font-size: 35px;
    text-decoration: none;
    
}

.right-links {
    margin: 15px;
    font-size: 20px;

}

.container {
    background-image: url("./images/programming.png");
    width: 100%;
    height: 200px;
    
}




